* {
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1A1A1D;
}

.calc-body {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    justify-content: center;
    align-items: center;
    border: 10px solid #6A1E55;
    padding: 10px;
    border-radius: 20px;
}

.calc-screen {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 280px;
    margin: 5px 10px 15px 10px;
    border-radius: 20px;
    background-color: #A64D79;
}

.equation-screen{
    width: 260px;
    height: 20px;
    text-align: end;
    color: white;
}

.answer-screen {
    width: 260px;
    height: 20px;
    text-align: end;
    color: white;
}

.button-container {
    display: flex;
    flex-direction: row;
}

.left-side-buttons {
    display: flex;
    flex-direction: column;
}

.number-buttons {
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    width:200px;
    margin-top: 10px;
}

.number-buttons button {
    width: 60px;
    height: 60px;
    background-color: #6A1E55;
}

.number-zero {
    flex: 0 0 130px;
    width: 130px;
}

.right-side-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 10px;
    width: 80px;
}

.right-side-buttons button{
    width: 60px;
    height: 60px;
    background-color: #3B1C32;
}

.clear-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.clear-buttons button {
    width: 95px;
    height: 60px;
    background-color: #3B1C32;
}

button {
    border: none;
    border-radius: 20px;
    color: white;
}